@using EF_CODE_FIRST_FINAL_ASSIGNMENT.DomainClass
@model EF_CODE_FIRST_FINAL_ASSIGNMENT.DomainClass.NhanVien
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    @if (Model != null)
    {
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Quản lý nhân viên</div>
                        <hr>
                        <form action="/nhanvien/update" method="post">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label>Mã nhân viên</label>
                                    <input type="text" class="form-control" asp-for="Ma" placeholder="Nhập mã nhân viên">
                                </div>
                                <div class="form-group col-6">
                                    <label>Nhập họ nhân viên</label>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" asp-for="Ho" placeholder="Nhập họ nhân viên">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" asp-for="TenDem" name="TenDem" placeholder="Nhập tên đệm nhân viên">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" asp-for="Ten" placeholder="Nhập tên nhân viên">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label>Giới tính</label>
                                    <select class="custom-select" name="GioiTinh">
                                        <option>Chọn giới tính</option>
                                        @{
                                            string[] gioiTinh = new[] { "Nam", "Nữ" };
                                            @foreach (var x in gioiTinh)
                                            {
                                                var isSelected = @Model.GioiTinh == x ? "selected" : "";
                                                <!option value="@x" @isSelected>@x</!option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label>Ngày sinh nhân viên</label>
                                    <input type="date" name="NgaySinh" asp-for="NgaySinh" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <label>Địa chỉ nhân viên</label>
                                    <input type="text" name="DiaChi" asp-for="DiaChi" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <label>Số điện thoại nhân viên</label>
                                    <input type="text" asp-for="Sdt" class="form-control">
                                </div>
                                <div class="form-group col-3">
                                    <label>Chức vụ</label>
                                    <select class="custom-select" name="IdCv">
                                        @foreach (ChucVu x in ViewBag.ChucVu)
                                        {
                                            var isSelected = x.Id == Model.IdCv ? "selected" : "";
                                            <!option value="@x.Id" @isSelected >@x.Ten</!option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-3">
                                    <label>Chức vụ</label>
                                    <select class="custom-select" name="IdCh">
                                        @foreach (CuaHang x in ViewBag.CuaHang)
                                        {
                                            var isSelected = x.Id == Model.IdCh ? "selected" : "";
                                            <!option value="@x.Id"  @isSelected>@x.Ten</!option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group col-3">
                                    <label>Chức vụ</label>
                                    <select class="custom-select" name="IdGuiBc">
                                        @foreach (NhanVien x in ViewBag.NhanVien)
                                        {
                                            var isSelected = x.Id == Model.IdGuiBc ? "selected" : "";
                                            <!option value="@x.Id" @isSelected>@x.Ho @x.TenDem @x.Ten</!option>
                                        }
                                    </select>
                                </div>
                                
                                <div class="form-group col-3">
                                    <label>Mật khẩu</label>
                                    <input type="text" asp-for="MatKhau" class="form-control" placeholder="Nhập mật khẩu">
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <button value="@Model.Id" name="Id" type="submit" class="btn btn-success px-5 mr-2">Sửa nhân viên</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}


