@model List<ChiTietSp>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="assets/css/sell.css" />
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body px-5">
                <div class="card-title text-uppercase">Danh sách các sản phẩm của @Model.First().SanPham.Ten</div>
                <hr>
                <div class="row">
                    @foreach (var x in Model)
                    {
                        <div class="col-lg-3">
                            <div class="product">
                                <div class="product-img">
                                    <img src="@x.Anh" alt="">
                                    <form asp-action="AddCart" class="add-to-cart">
                                        <button type="submit" name="idChiTietSp" value="@x.Id" class="add-to-cart-btn"> add to cart <i class="fa fa-shopping-cart"></i></button>
                                    </form>
                                </div>
                                <div class="product-body">
                                    <h3 class="product-name"><a href="javascript:void(0)" class="text-danger">@x.SanPham.Ten (@x.MauSac.Ten)</a></h3>
                                    <h4 class="product-price">
                                        @string.Format("{0:0,0}", @x.GiaBan) VNĐ
                                        <del class="product-old-price">@string.Format("{0:0,0}", @x.GiaNhap) VNĐ</del>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @await Html.PartialAsync("Pagination", new PaginationViewModel
                {
                    CurrentPageIndex = ViewBag.CurrentPageIndex,
                    PageCount = ViewBag.PageCount,
                    PageName = $"BanHang/Detail/{Model.First().SanPham.Id}"
                })
            </div>
        </div>
    </div>
</div>

