@* @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Quản lý hóa đơn chi tiết</div>
                <hr />
                <form action="/hoadonchitiet/add">
                    <div class="row">
                        <input type="text" class="d-none" name="IdHoaDon" value="@Model.Item1[0].HoaDonChiTiet.IdHoaDon">
                        <div class="form-group col-6">
                            <label>Số lượng</label>
                            <input type="text" class="form-control" name="SoLuong" placeholder="Nhập số lượng">
                        </div>
                        <div class="form-group col-6">
                            <label>Chọn sản phẩm</label>
                            <select class="custom-select" name="IdChiTietSp">
                                <option value="null">Chọn sản phẩm</option>
                                @foreach (var x in Model.Item2)
                                {
                                    <option value="@x.ChiTietSp.Id">@x.SanPham.Ten (@x.MauSac.Ten)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-light px-5">Thêm chi tiết sản phẩm</button>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ảnh sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.Item1)
                            {
                                <form action="/hoadonchitiet/update">
                                    <tr>
                                        @{
                                            var sanPhamViewModel = Model.Item2.First(c => c.ChiTietSp.Id == x.HoaDonChiTiet.IdChiTietSp);
                                        }
                                        <td class="d-none"><input name="IdChiTietSp" value="@x.HoaDonChiTiet.IdChiTietSp" /></td>
                                        <td class="d-none"><input name="DonGia" value="@x.HoaDonChiTiet.DonGia" /></td>
                                        <td class="align-middle w-25"><img class="w-50" style="border-radius: 25px" src="@sanPhamViewModel.ChiTietSp.Anh" /></td>
                                        <td class="align-middle">@sanPhamViewModel.SanPham.Ten (@sanPhamViewModel.MauSac.Ten)</td>
                                        <td class="align-middle">
                                            <input value="@x.HoaDonChiTiet.SoLuong" name="SoLuong" min="1" max="30" type="number" required class="form-control w-50" />
                                        </td>
                                        <td class="align-middle">@string.Format("{0:0,0}", @x.HoaDonChiTiet.DonGia) VNĐ</td>
                                        <td class="align-middle">
                                            <button type="submit" onclick="return confirm('Bạn có chắc muốn sửa?')" class="btn btn-danger" name="IdHoaDon" value="@x.HoaDonChiTiet.IdHoaDon">Cập nhật</button>
                                        </td>
                                    </tr>
                                </form>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

 *@