@model ChiTietSp
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Quản lý sản phẩm
                </div>
                <form asp-action="Create">
                    <div class="row">
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Sản phẩm</label>
                                <span asp-validation-for="IdSp" class="text-warning font-weight-bold"></span>
                            </div>
                            <select class="custom-select" asp-for="IdSp">
                                <option value="">Chọn sản phẩm</option>
                                @foreach (SanPham x in ViewBag.SanPham)
                                {
                                    <!option value="@x.Id">@x.Ten</!option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label>Giá nhập</label>
                            <input type="number" class="form-control" name="GiaNhap" placeholder="Nhập tên giá nhập">
                        </div>
                        <div class="form-group col-6">
                            <label>Giá bán </label>
                            <input type="number" class="form-control" name="GiaBan" placeholder="Nhập giá bán">
                        </div>
                        <div class="form-group col-6">
                            <label>Số lượng tồn kho </label>
                            <input type="number" class="form-control" name="SoLuongTon" placeholder="Nhập số lượng tồn kho">
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Màu sắc</label>
                                <span asp-validation-for="IdMauSac" class="text-warning font-weight-bold"></span>
                            </div>
                            <select class="custom-select" asp-for="IdMauSac">
                                <option value="">Chọn màu sắc</option>
                                @foreach (MauSac x in ViewBag.MauSac)
                                {
                                    <option value="@x.Id">@x.Ten</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Ảnh sản phẩm</label> <br />
                                <span asp-validation-for="Anh" class="text-warning font-weight-bold"></span>
                            </div>
                            <input type="text" class="form-control" asp-for="Anh" placeholder="Nhập link ảnh sản phẩm">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success px-5">Thêm ct sản phẩm</button>
                        <a href="/mausac" class="btn btn-danger px-5">Thêm màu sắc </a>
                        <a href="/sanpham" class="btn btn-dark px-5">Thêm sản phẩm </a>
                    </div>
                </form>
                <h5 class="card-title">Danh sách sản phẩm</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên sản phẩm</th>
                                <th>Màu sắc</th>
                                <th>Giá nhập</th>
                                <th>Giá bán</th>
                                <th>Tồn kho</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (ChiTietSp x in ViewBag.ChiTietSp)
                                {
                                    <tr>
                                        <td>@x.Id</td>
                                        <td>@x.SanPham.Ten</td>
                                        <td>@x.MauSac.Ten</td>
                                        <td>@string.Format("{0:0,0}", x.GiaNhap)</td>
                                        <td>@string.Format("{0:0,0}", x.GiaBan)</td>
                                        <td>@x.SoLuongTon</td>
                                        <td>
                                            <a href="/chitietsp/detail/@x.Id" class="btn btn-success">Sửa</a>
                                            <a href="/chitietsp/remove/@x.Id"
                                               class="btn btn-danger"
                                               onclick="return confirm('Bạn có chắc muốn xóa?')">
                                                Xóa
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
