@model ChiTietSp
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title text-uppercase">
                    Quản lý chi tiết sản phẩm
                </div>
                <hr />
                <form asp-action="Create">
                    <div class="row">
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Sản phẩm</label>
                                <span asp-validation-for="IdSp" class="text-warning font-weight-bold"></span>
                            </div>
                            <select class="custom-select" asp-for="IdSp">
                                <option value="">Chọn sản phẩm</option>
                                @foreach (var x in ViewBag.SanPham)
                                {
                                    <option value="@x.Id">@x.Ten</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Giá nhập</label>
                                <span asp-validation-for="GiaNhap" class="text-warning font-weight-bold"></span>
                            </div>
                            <input type="number" class="form-control" asp-for="GiaNhap"  placeholder="Nhập giá nhập">
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Giá bán</label> <br />
                                <span asp-validation-for="GiaBan" class="text-warning font-weight-bold"></span>
                            </div>
                            <input class="form-control" asp-for="GiaBan" placeholder="Nhập giá bán">
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Số lượng tồn kho </label>
                                <span asp-validation-for="SoLuongTon" class="text-warning font-weight-bold"></span>
                            </div>
                            <input type="number" class="form-control" name="SoLuongTon" placeholder="Nhập số lượng tồn kho">
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Màu sắc</label>
                                <span asp-validation-for="IdMauSac" class="text-warning font-weight-bold"></span>
                            </div>
                            <select class="custom-select" asp-for="IdMauSac">
                                <option value="">Chọn màu sắc</option>
                                @foreach (var x in ViewBag.MauSac)
                                {
                                    <option value="@x.Id">@x.Ten</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Ảnh sản phẩm</label> <br />
                                <span asp-validation-for="Anh" class="text-warning font-weight-bold"></span>
                            </div>
                            <input type="text" class="form-control" asp-for="Anh" placeholder="Nhập link ảnh sản phẩm">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success px-5">Thêm chi tiết sản phẩm</button>
                        <a href="@Url.ActionLink("Index","MauSac")" class="btn btn-danger px-5">Thêm màu sắc</a>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên sản phẩm</th>
                                <th>Màu sắc</th>
                                <th>Giá nhập</th>
                                <th>Giá bán</th>
                                <th>Tồn kho</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var x in ViewBag.ChiTietSp)
                                {
                                    <tr>
                                        <td>@x.Id</td>
                                        <td>@x.SanPham.Ten</td>
                                        <td>@x.MauSac.Ten</td>
                                        <td>@Helper.FormatVietNamDong(x.GiaNhap)</td>
                                        <td>@Helper.FormatVietNamDong(x.GiaBan)</td>
                                        <td>@x.SoLuongTon</td>
                                        <td style="display: flex; gap: 10px">
                                            @Html.ActionLink("Sửa", "Update", "ChiTietSp", new { id = x.Id }, new { @class = "btn btn-success" })
                                            <form asp-action="Remove" onsubmit="return confirm('Bạn có chắc muốn xóa sản phẩm này?')">
                                                <button class="btn btn-danger" type="submit" name="id" value="@x.Id">Xóa</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @await Html.PartialAsync("Pagination", new PaginationViewModel
                {
                    CurrentPageIndex = ViewBag.CurrentPageIndex,
                    PageCount = ViewBag.PageCount,
                    PageName = $"ChiTietSp/{ViewBag.IdSp ?? ""}"
                })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
