@model ChiTietSp
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Quản lý sản phẩm</div>
                <hr />
                <form asp-action="Update">
                    <div class="row">
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Sản phẩm</label>
                                <span asp-validation-for="IdSp" class="text-warning font-weight-bold"></span>
                            </div>
                            <select class="custom-select" asp-for="IdSp">
                                <option value="">Chọn sản phẩm</option>
                                @foreach (var x in ViewBag.SanPham)
                                {
                                    var isSelected = x.Id == Model.IdSp ? "selected" : ""; 
                                    <!option @isSelected value="@x.Id">@x.Ten</!option> 
                                }
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label>Nhập giá nhập </label>
                            <input class="form-control" asp-for="GiaNhap" placeholder="Nhập giá nhập">
                        </div>
                        <div class="form-group col-6">
                            <label>Nhập giá bán </label>
                            <input class="form-control" asp-for="GiaBan" placeholder="Nhập giá bán">
                        </div>
                        <div class="form-group col-6">
                            <label>Nhập số lượng tồn kho </label>
                            <input class="form-control" asp-for="SoLuongTon" placeholder="Nhập số lượng tồn kho">
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Màu sắc</label>
                                <span asp-validation-for="IdMauSac" class="text-warning font-weight-bold"></span>
                            </div>
                            <select class="custom-select" name="IdMauSac">
                                <option value="">Màu sắc</option>
                                @foreach (var x in ViewBag.MauSac)
                                {
                                    var isSelected = x.Id == Model.IdMauSac ? "selected" : "";
                                    <!option @isSelected value="@x.Id">@x.Ten</!option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Ảnh sản phẩm</label>
                                <span asp-validation-for="Anh" class="text-warning font-weight-bold"></span>
                            </div>
                            <input class="form-control" asp-for="Anh" placeholder="Nhập link ảnh sản phẩm">
                        </div>
                    </div>
                    <div class="form-group">
                        <button name="Id" value="@Model.Id" class="btn btn-warning px-5">Sửa chi tiết sản phẩm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

