@model List<MINKY_STORE_WEB_APPLICATION.Models.SanPhamViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body px-5">
                <div class="card-title">Danh sách sản phẩm</div>

                <hr>
                <div class="row">
                    @foreach (var x in @Model)
                    {
                        <div class="col-lg-3">
                            <div class="product">
                                <div class="product-img">
                                    <img src="@x.ChiTietSp.Anh" alt="">
                                    <div class="add-to-cart">
                                        <a href="/banhang/addcart/@x.ChiTietSp.Id"><button class="add-to-cart-btn"> add to cart <i class="fa fa-shopping-cart"></i></button></a>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <h3 class="product-name"><a href="#" class="text-danger">@x.SanPham.Ten (@x.MauSac.Ten)</a></h3>
                                    <h4 class="product-price"> @string.Format("{0:0,0}", @x.ChiTietSp.GiaBan) VNĐ <del class="product-old-price">@string.Format("{0:0,0}", @x.ChiTietSp.GiaNhap) VNĐ</del></h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

