@model SanPham
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Quản lý sản phẩm</div>
                <hr>
                <form asp-action="Create" method="post">
                    <div class="row">
                        <div class="form-group col-6">
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                <input type="text" class="form-control" name="Ten" placeholder="Nhập tên sản phẩm">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div class="d-flex justify-content-between">
                                <label>Dòng sản phẩm</label>
                                <span asp-validation-for="IdDongSp" class="text-warning font-weight-bold"></span>
                            </div>
                            <select class="custom-select" asp-for="IdDongSp">
                                <option value="">Chọn dòng sản phẩm </option>
                                @foreach (DongSp x in ViewBag.DongSp)
                                {
                                    <option value="@x.Id">@x.Ten</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success px-5" type="submit">Thêm sản phẩm</button>
                        <a href="/dongsp" class="btn btn-warning px-5">Thêm dòng sản phẩm</a>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Dòng sản phẩm</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SanPham x in ViewBag.SanPham)
                            {
                                <tr>
                                    <td>@x.Id</td>
                                    <td>@x.Ten</td>
                                    <td>@x.DongSp.Ten</td>
                                    <td>
                                        @Html.ActionLink("Sửa sản phẩm", "Update", "SanPham", new { id = x.Id }, new { @class = "btn btn-success" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa sản phẩm", "Update", "SanPham", new { id = x.Id }, new { @class = "btn btn-success" })
                                    </td>
                                    <td>
                                        <form asp-action="Remove" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa sản phẩm này?')">
                                            <button class="btn btn-danger" type="submit" name="id" value="@x.Id">Xóa sản phẩm</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @await Html.PartialAsync("Pagination", new PaginationViewModel
                {
                    CurrentPageIndex = ViewBag.CurrentPageIndex,
                    PageCount = ViewBag.PageCount,
                    PageName = "SanPham"
                })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}